In [144]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [145]:
df = pd.read_csv('/content/Time_series_analysis_and_forecast_DATASET.csv')

In [146]:

df.head(20)

               FullDate  Tmax   SysLoad  GasPrice  ElecPrice
0   2010-09-01 00:00:00  15.8  1688.215      3.69     23.710
1   2010-09-01 01:00:00  15.8  1669.195      3.69     22.635
2   2010-09-01 02:00:00  15.8  1491.980      3.69     22.565
3   2010-09-01 03:00:00  15.8  1330.760      3.69     18.910
4   2010-09-01 04:00:00  15.8  1247.940      3.69     18.030
5   2010-09-01 05:00:00  15.8  1232.000      3.69     19.160
6   2010-09-01 06:00:00  15.8  1282.930      3.69     23.540
7   2010-09-01 07:00:00  15.8  1430.935      3.69     26.235
8   2010-09-01 08:00:00  15.8  1670.275      3.69     28.690
9   2010-09-01 09:00:00  15.8  1815.155      3.69     29.630
10  2010-09-01 10:00:00  15.8  1847.515      3.69     29.195
11  2010-09-01 11:00:00  15.8  1833.075      3.69     28.490
12  2010-09-01 12:00:00  15.8  1799.050      3.69     28.595
13  2010-09-01 13:00:00  15.8  1819.120      3.69     29.590
14  2010-09-01 14:00:00  15.8  1842.965      3.69     29.750
15  2010-09-01 15:00:00  15.8  1868.735      3.69     30.670
16  2010-09-01 16:00:00  15.8  1822.415      3.69     29.790
17  2010-09-01 17:00:00  15.8  1870.230      3.69     31.800
18  2010-09-01 18:00:00  15.8  2007.590      3.69   2142.995
19  2010-09-01 19:00:00  15.8  2155.330      3.69     29.140

In [147]:
df["DateTimeCol"]=pd.to_datetime(df['FullDate'])

In [148]:
df["date"] = df["DateTimeCol"].dt.date
df["time"] = df["DateTimeCol"].dt.time

In [149]:
df.drop("FullDate", axis=1)

,Tmax,SysLoad,GasPrice,ElecPrice,DateTimeCol,date,time
0,15.8,1688.21500,3.6900,23.710,2010-09-01 00:00:00,2010-09-01,00:00:00
1,15.8,1669.19500,3.6900,22.635,2010-09-01 01:00:00,2010-09-01,01:00:00
2,15.8,1491.98000,3.6900,22.565,2010-09-01 02:00:00,2010-09-01,02:00:00
3,15.8,1330.76000,3.6900,18.910,2010-09-01 03:00:00,2010-09-01,03:00:00
4,15.8,1247.94000,3.6900,18.030,2010-09-01 04:00:00,2010-09-01,04:00:00
...,...,...,...,...,...,...,...
92011,24.3,449.63625,5.4848,117.925,2021-02-28 19:00:00,2021-02-28,19:00:00
92012,24.3,815.59975,5.4848,87.880,2021-02-28 20:00:00,2021-02-28,20:00:00
92013,24.3,745.12325,5.4848,62.060,2021-02-28 21:00:00,2021-02-28,21:00:00
92014,24.3,694.95150,5.4848,62.000,2021-02-28 22:00:00,2021-02-28,22:00:00
92015,24.3,714.69630,5.4848,62.955,2021-02-28 23:00:00,2021-02-28,23:00:00

In [150]:
df["time"] = (df["time"]).astype(str)
df["time"] = df['time'].apply(lambda x: x[:2])
df["time"] = (df["time"]).astype(int)

In [151]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92016 entries, 0 to 92015
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FullDate     92016 non-null  object
 1   Tmax         92016 non-null  float64
 2   SysLoad      92016 non-null  float64
 3   GasPrice     92016 non-null  float64
 4   ElecPrice    92016 non-null  float64
 5   DateTimeCol  92016 non-null  datetime64[ns]
 6   date         92016 non-null  object
 7   time         92016 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 5.6+ MB

In [152]:
df.drop(columns=['DateTimeCol'], inplace=True)

# Display the resulting DataFrame after dropping the column
print(df)

                  FullDate  Tmax     SysLoad  GasPrice  ElecPrice        date  \
0      2010-09-01 00:00:00  15.8  1688.21500    3.6900     23.710  2010-09-01
1      2010-09-01 01:00:00  15.8  1669.19500    3.6900     22.635  2010-09-01
2      2010-09-01 02:00:00  15.8  1491.98000    3.6900     22.565  2010-09-01
3      2010-09-01 03:00:00  15.8  1330.76000    3.6900     18.910  2010-09-01
4      2010-09-01 04:00:00  15.8  1247.94000    3.6900     18.030  2010-09-01
...                    ...   ...         ...       ...        ...         ...
92011  2021-02-28 19:00:00  24.3   449.63625    5.4848    117.925  2021-02-28
92012  2021-02-28 20:00:00  24.3   815.59975    5.4848     87.880  2021-02-28
92013  2021-02-28 21:00:00  24.3   745.12325    5.4848     62.060  2021-02-28
92014  2021-02-28 22:00:00  24.3   694.95150    5.4848     62.000  2021-02-28
92015  2021-02-28 23:00:00  24.3   714.69630    5.4848     62.955  2021-02-28

       time
0         0
1         1
2         2
3         3
4         4
...     ...
92011    19
92012    20
92013    21
92014    22
92015    23

[92016 rows x 7 columns]

In [153]:
df.describe()

               Tmax       SysLoad      GasPrice     ElecPrice          time
count  92016.000000  92016.000000  92016.000000  92016.000000  92016.000000
mean     231.696688    797.623357      6.016163     65.798356     11.500000
std     4562.128748    613.520156      2.608116    213.144084      6.922224
min        9.900000  -1596.810100      0.000000   -924.820000      0.000000
25%       17.300000    417.119800      3.936900     31.543750      5.750000
50%       21.900000    856.467925      5.165600     48.715000     11.500000
75%       27.600000   1221.293675      8.023300     76.495000     17.250000
max    99999.900000   3264.166300     29.990000  14700.000000     23.000000

In [91]:
df.shape

(92016, 7)

In [154]:
df.set_index('date', inplace = True)

In [94]:
df.head()

            Tmax   SysLoad  GasPrice  ElecPrice         DateTimeCol      time
date
2010-09-01  15.8  1688.215      3.69     23.710 2010-09-01 00:00:00  00:00:00
2010-09-01  15.8  1669.195      3.69     22.635 2010-09-01 01:00:00  01:00:00
2010-09-01  15.8  1491.980      3.69     22.565 2010-09-01 02:00:00  02:00:00
2010-09-01  15.8  1330.760      3.69     18.910 2010-09-01 03:00:00  03:00:00
2010-09-01  15.8  1247.940      3.69     18.030 2010-09-01 04:00:00  04:00:00

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 92016 entries, 2010-09-01 to 2021-02-28
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Tmax         92016 non-null  float64
 1   SysLoad      92016 non-null  float64
 2   GasPrice     92016 non-null  float64
 3   ElecPrice    92016 non-null  float64
 4   DateTimeCol  92016 non-null  datetime64[ns]
 5   time         92016 non-null  object
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 6.9+ MB

In [156]:
df.time

date
2010-09-01     0
2010-09-01     1
2010-09-01     2
2010-09-01     3
2010-09-01     4
              ..
2021-02-28    19
2021-02-28    20
2021-02-28    21
2021-02-28    22
2021-02-28    23
Name: time, Length: 92016, dtype: int64

In [157]:
df

                       FullDate  Tmax     SysLoad  GasPrice  ElecPrice  time
date
2010-09-01  2010-09-01 00:00:00  15.8  1688.21500    3.6900     23.710     0
2010-09-01  2010-09-01 01:00:00  15.8  1669.19500    3.6900     22.635     1
2010-09-01  2010-09-01 02:00:00  15.8  1491.98000    3.6900     22.565     2
2010-09-01  2010-09-01 03:00:00  15.8  1330.76000    3.6900     18.910     3
2010-09-01  2010-09-01 04:00:00  15.8  1247.94000    3.6900     18.030     4
...                         ...   ...         ...       ...        ...   ...
2021-02-28  2021-02-28 19:00:00  24.3   449.63625    5.4848    117.925    19
2021-02-28  2021-02-28 20:00:00  24.3   815.59975    5.4848     87.880    20
2021-02-28  2021-02-28 21:00:00  24.3   745.12325    5.4848     62.060    21
2021-02-28  2021-02-28 22:00:00  24.3   694.95150    5.4848     62.000    22
2021-02-28  2021-02-28 23:00:00  24.3   714.69630    5.4848     62.955    23

[92016 rows x 6 columns]

In [158]:
#Resample to daily data points
df_daily = df.resample('D').sum()

plt.figure(figsize=(10,6))
plt.plot(df_daily, '--', marker='*')
plt.grid()
plt.xlabel('date')
plt.ylabel('GasPrice')
plt.title('Upsampled Data by Day')

TypeError: ignored